<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="post">
        <input type="text" name="name" id="" placeholder="なまえいれてね">
        <input type="text" name="emotion" id="" placeholder="感情いれてね">
        <input type="number" name="age" id="" placeholder="年齢入れてね">
        <button type="submit">とうもころし</button>
    </form>
    
</body>
</html>
